<map id="main-map"
  zoom="13"
  center="51.508800, -0.127477"
  scrollwheel="false"
  map-type-control="false"
  styles="[{'featureType':'administrative','elementType':'labels.text.fill','stylers':[{'color':'#444444'}]},{'featureType':'landscape','elementType':'all','stylers':[{'color':'#f2f2f2'}]},{'featureType':'poi','elementType':'all','stylers':[{'visibility':'off'}]},{'featureType':'road','elementType':'all','stylers':[{'saturation':-100},{'lightness':45}]},{'featureType':'road.highway','elementType':'all','stylers':[{'visibility':'simplified'}]},{'featureType':'road.arterial','elementType':'labels.icon','stylers':[{'visibility':'off'}]},{'featureType':'transit','elementType':'all','stylers':[{'visibility':'off'}]},{'featureType':'water','elementType':'all','stylers':[{'color':'#46bcec'},{'visibility':'on'}]}]">

  <div class="date-search">
    <p><strong>Display artwork by month created</strong></p>
    <div class="map-date-picker">
      <p class="input-group">
        <input
        type="text"
        class="form-control" 
        datepicker-popup="MMMM-yyyy"
        ng-model="dt"
        is-open="opened"
        datepicker-options="dateOptions"
        date-disabled="disabled(date, mode)"
        init-date="null"
        ng-required="true"
        close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>

  <div ng-repeat="artwork in mapArtwork">
    <marker on-click="showInfoWindow(event, artwork.id)"
      position="{{ artwork.lat }}, {{ artwork.lng }}"
      animation="DROP">
    </marker>

    <info-window id="{{ artwork.id }}" position="{{ artwork.lat }}, {{ artwork.lng }}" visible-on-marker="{{ artwork.id }}">
      <div class="info-window">
        <a ng-href="#/artworks/{{ artwork.id }}">
          <div class="row">
            <div class="info-window-image col-md-4">
              <img ng-src="{{ artwork.image }}">
            </div>
            <div class="col-md-7 info-window-text">
              <p class="info-window-title"><strong>{{ artwork.title }}</strong></p>
              <p class="info-window-artist">{{ artwork.user.username }}</p>
              <p class="info-window-address"><em><i class="fa fa-map-marker"></i> {{ artwork.address }}</em></p>
            </div>
            <div class="info-window-stats col-md-7">
              <i class="fa fa-thumbs-up likes"> {{ artwork.likes.length }}</i>
              <i class="fa fa-comment comments"> {{ artwork.comments.length }}</i>
            </div>
          </div>
        </a>
      </div>
    </info-window>
  </div>

</map>

<div id="wrapper">
  <div class="card-container">
    <div class="whats-new-header">
      <div class="row">
        <h3 class="col-md-4">What's New</h3>
        <p class="col-md-4 col-md-offset-4"><a ng-href="#/artworks" class="btn btn-default">View all</a></p>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="artwork in latestArtworks | orderBy: '-created_at'" class="col-md-4">
        <a ng-href="#/artworks/{{ artwork.id }}" class="large-thumbnail-link">
          <div class="large-thumbnail">
            <div class="large-thumbnail-image">
              <img ng-src="{{ artwork.image }}">
            </div>
            <div class="large-thumbnail-info">
              <p class="large-thumbnail-title"><strong>{{ artwork.title }}</p></strong>
              <p class="large-thumbnail-artist">{{ artwork.user.username }}</p>
              <p class="large-thumbnail-address"><em><i class="fa fa-map-marker"></i> {{ artwork.address }}</em></p>
              <p class="large-thumbnail-description">{{ artwork.description }}</p>
              <div class="card-footer">
                <i class="fa fa-thumbs-up likes"> {{ artwork.likes.length }}</i>
                <i class="fa fa-comment comments"> {{ artwork.comments.length }}</i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="featured-artists-header">
      <div class="row">
        <h3 class="col-md-4">Featured Artists</h3>
        <p class="col-md-4 col-md-offset-4"><a ng-href="#/artists" class="btn btn-default">View all</a></p>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="artist in popularArtists | orderBy: '-passive_relationships.length' | limitTo: '6'" class="col-md-2">
        <a ng-href="#/users/{{ artist.id }}">
          <div class="artist-thumbnail">
            <div class="artist-profile-pic">
              <img ng-src="{{ artist.profile_pic.url }}">
            </div>
            <p class="artist-name"><strong>{{ artist.username }}</strong></p>
            <p>Artist</p>
            <div class="artist-thumbnail-stats">
              <p><strong>{{ artist.passive_relationships.length }}</strong> Followers</p>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>