<div><!-- Header: Artwork title, artist -->
  <h3>{{ artwork.title }}</h3>
  <!-- Artist profile image to go here -->
  <p>{{ artwork.user.username }}</p>
</div>
<div><!-- Artwork image -->
  <img src="http://lorempixel.com/500/200/abstract">
</div>
<div><!-- Artwork information: description, location, likes etc -->
  <div><!-- Main: Description -->
    <p>{{ artwork.description }}</p>
  </div>
  <div><!-- Aside: Map, likes, address -->
    <button>Like</button>
    <p>Likes: {{ artwork.likes.length }}</p>
  </div>
</div>
<div ng-controller="CommentController"><!-- Comments -->
  <h4>Comments: ({{ comments.length }})</h4>
  <div><!-- Comment field -->
    <form ng-keypress="($event.which === 13) ? postComment(comment) : 0">
      <textarea id="comment-field" name="commentField" ng-model="comment.content" ></textarea>
    </form>
  </div>
  <div ng-repeat="comment in comments | orderBy: '-created_at'">
    <div><!-- Individual comment -->
      <blockquote>{{ comment.content }}</blockquote>
      <p>By: {{ comment.user.username }}, {{ comment.created_at }}</p>
    </div>
  </div>
</div>