<map id="main-map"
  zoom="12"
  center="51.508800, -0.127477"
  scrollwheel="false">
  <marker ng-repeat="artwork in allArtworks"
    position="{{ artwork.lat }}, {{ artwork.lng }}">
  </marker>
</map>

<p>This page will display:</p>
<ul>
  <li>Main map (will show pins for each artwork)</li>
  <li>Most popular artworks (with link to view all artworks as a list view – cards)</li>
  <li>Latest artworks</li>
  <li>Handful of artists, with link to view all as list view</li>
</ul>

<ul>
  <li ng-repeat="user in allUsers"><a ng-href="#/users/{{ user.id }}/profile">{{ user.first_name }}</a></li>
</ul>