<map id="main-map"
  zoom="13"
  center="51.508800, -0.127477"
  scrollwheel="false">

  <div ng-repeat="artwork in allArtworks">
    <marker id="{{ artwork.id }}" on-click="showInfoWindow(event, artwork.id)"
      position="{{ artwork.lat }}, {{ artwork.lng }}">
    </marker>

    <info-window id="{{ artwork.id }}" position="{{ artwork.lat }}, {{ artwork.lng }}" visible-on-marker="{{ artwork.id }}">
      <div class="info-window">
        <a ng-href="#/artworks/{{ artwork.id }}">
          <div class="row">
            <div class="info-window-image col-md-4">
              <img src="{{ artwork.image }}">
            </div>
            <div class="col-md-7 info-window-text">
              <p class="info-window-title"><strong>{{ artwork.title }}</strong></p>
              <p>{{ artwork.user.username }}</p>
            </div>
            <div class="info-window-stats col-md-7">
              <i class="fa fa-thumbs-up likes"> {{ artwork.likes.length }}</i>
              <i class="fa fa-comment comments"> {{ artwork.comments.length }}</i>
            </div>
          </div>
        </a>
      </div>
    </info-window>
  </div>

</map>

<div id="wrapper">
  <div class="card-container">
    <div class="whats-new-header">
      <div class="row">
        <h3 class="col-md-4">What's New</h3>
        <p class="col-md-4 col-md-offset-4"><a ng-href="#/artworks" class="btn btn-default">View all</a></p>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="artwork in allArtworks | orderBy: '-created_at' | limitTo: '3'" class="col-md-4">
        <a ng-href="#/artworks/{{ artwork.id }}" class="large-thumbnail-link">
          <div class="large-thumbnail">
            <div class="large-thumbnail-image">
              <img src="{{ artwork.image }}">
            </div>
            <div class="large-thumbnail-info">
              <p class="large-thumbnail-title"><strong>{{ artwork.title }}</p></strong>
              <p class="large-thumbnail-artist">{{ artwork.user.username }}</p>
              <p class="large-thumbnail-address"><em><i class="fa fa-map-marker"></i> {{ artwork.address }}</em></p>
              <p class="large-thumbnail-description">{{ artwork.description }}</p>
              <div class="card-footer">
                <i class="fa fa-thumbs-up likes"> {{ artwork.likes.length }}</i>
                <i class="fa fa-comment comments"> {{ artwork.comments.length }}</i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row"><!-- Featured artists -->
      
    </div>
  </div>
</div>

<!-- <p>This page will display:</p>
<ul>
  <li>Main map (will show pins for each artwork)</li>
  <li>Most popular artworks (with link to view all artworks as a list view – cards)</li>
  <li>Latest artworks</li>
  <li>Handful of artists, with link to view all as list view</li>
</ul> -->

<ul>
  <li ng-repeat="user in allUsers"><a ng-href="#/users/{{ user.id }}/profile">{{ user.first_name }}</a></li>
</ul>