<div><!-- Profile header -->
  <div><!-- Profile picture -->
    <img src="http://lorempixel.com/200/200/abstract">
  </div>

  <div><!-- Profile information -->
    <h3>{{ user.username }}</h3>
    <p>{{ user.bio }}</p>
    <p ng-if="user.is_artist">{{ user.passive_relationships.length }} Followers</p>
    <p ng-if="!user.is_artist">{{ user.active_relationships.length }} Following</p>

    <div ng-controller="RelationshipController" ng-if="user.is_artist && !currentUser.is_artist">

      <form ng-submit="followUser(currentUser.id, user.id)" novalidate>
        <button ng-hide="followingThisUser">Follow</button>
      </form>

      <form ng-submit="unfollowUser(currentUser.id)" novalidate>
        <button ng-show="followingThisUser">Unfollow</button>
      </form>

    </div>

  </div>
</div>

<div ng-controller="ProfileController"><!-- Profile body -->
  <div><!-- Nav -->
    <ul class="nav nav-pills" ng-if="!user.is_artist" ng-init="$parent.tab = 1"><!-- Nav pills -->
      <li ng-class="{ active:isSelected(1) }">
        <a href ng-click="$parent.selectTab(1)">Activity Feed</a>
      </li>
      <li ng-class="{ active:isSelected(2) }">
        <a href ng-click="$parent.selectTab(2)">Likes</a>
      </li>
      <li ng-class="{ active:isSelected(3) }">
        <a href ng-click="$parent.selectTab(3)">Artists</a>
      </li>
    </ul>
    <ul class="nav nav-pills" ng-if="user.is_artist" ng-init="$parent.tab = 4"><!-- Nav pills -->
      <li ng-class="{ active:isSelected(4) }">
        <a href ng-click="$parent.selectTab(4)">Artworks</a>
      </li>
      <li ng-class="{ active:isSelected(5) }">
        <a href ng-click="$parent.selectTab(5)">Map</a>
      </li>
      <li ng-if="currentUser.id === user.id" ng-class="{ active:isSelected(6) }">
        <a href ng-click="$parent.selectTab(6)">Add Artwork</a>
      </li>
    </ul>
  </div>
  
  <div><!-- Content -->
    <div ng-if="isSelected(1)"><!-- Activity Feed -->
      <p>Activity Feed</p>
    </div>
    <div ng-if="isSelected(2)"><!-- Likes -->
      <div ng-repeat="artwork in likedArtworks"><!-- Artwork card -->
        <a ng-href="#/artworks/{{ artwork.id }}">
          <div><!-- Card wrapper -->
            <img src="http://lorempixel.com/150/100/abstract">
            <h4>{{ artwork.title }}</h4>
            <ul>
              <li>Artist: {{ artwork.user.first_name }} {{ artwork.user.last_name }}</li>
              <li>Description: {{ artwork.description }}</li>
              <li>Likes: {{ artwork.likes.length }}</li>
              <li>Comments: {{ artwork.comments.length }}</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
    <div ng-if="isSelected(3)"><!-- Artists -->
        <div ng-repeat="artist in followedArtists"><!-- Artist card -->
          <a ng-href="#/users/{{ artist.id }}/profile">
            <div><!-- Card wrapper -->
              <img src="http://lorempixel.com/150/100/abstract">
              <h4>{{ artist.username }}</h4>
              <p>{{ artist.bio }}</p>
            </div>
          </a>
        </div>
    </div>
    <div ng-if="isSelected(4)"><!-- Artworks -->
      <div ng-repeat="artwork in userArtworks"><!-- Artwork card -->
        <a ng-href="#/artworks/{{ artwork.id }}">
          <div><!-- Card wrapper -->
            <img src="http://lorempixel.com/150/100/abstract">
            <h4>{{ artwork.title }}</h4>
            <ul>
              <li>Description: {{ artwork.description }}</li>
              <li>Likes: {{ artwork.likes.length }}</li>
              <li>Comments: {{ artwork.comments.length }}</li>
            </ul>
          </div>
        </a>
      </div>
    </div>
    <div ng-if="isSelected(5)"><!-- Map -->
      <artist-artwork-map></artist-artwork-map>
    </div>
    <div ng-if="isSelected(6)"><!-- Add artwork form -->
      <h3>Add new artwork</h3>
      <form name="artworkForm" novalidate>
        <label for="title">Title</label>
        <input id="title" type="text">
        <label for="description">Description</label>
        <textarea id="description"></textarea>
        <label for="location">Location</label>
        <!-- Map with draggable marker for setting location? -->
        <label for="images">Images</label>
        <!-- Multiple image upload functionality goes here? -->
        <button>Submit</button>
      </form>
    </div>
  </div>
</div>