<map id="main-map"
  zoom="13"
  center="51.508800, -0.127477"
  scrollwheel="false"
  map-type-control="false"
  styles="[{'featureType':'administrative','elementType':'labels.text.fill','stylers':[{'color':'#444444'}]},{'featureType':'landscape','elementType':'all','stylers':[{'color':'#f2f2f2'}]},{'featureType':'poi','elementType':'all','stylers':[{'visibility':'off'}]},{'featureType':'road','elementType':'all','stylers':[{'saturation':-100},{'lightness':45}]},{'featureType':'road.highway','elementType':'all','stylers':[{'visibility':'simplified'}]},{'featureType':'road.arterial','elementType':'labels.icon','stylers':[{'visibility':'off'}]},{'featureType':'transit','elementType':'all','stylers':[{'visibility':'off'}]},{'featureType':'water','elementType':'all','stylers':[{'color':'#46bcec'},{'visibility':'on'}]}]">

  <div class="date-search">
    <p><strong>Display artwork by month created</strong></p>
    <div class="map-date-picker">
      <p class="input-group">
        <input
        type="text"
        class="form-control" 
        datepicker-popup-custom
        datepicker-popup="MMMM-yyyy"
        ng-model="dt"
        is-open="opened"
        datepicker-options="dateOptions"
        date-disabled="disabled(date, mode)"
        init-date="null"
        ng-required="true"
        close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>

  <div ng-repeat="artwork in mapArtwork">
    <marker on-click="showInfoWindow(event, artwork.id)"
      position="{{ artwork.lat }}, {{ artwork.lng }}"
      animation="DROP">
    </marker>

    <info-window id="{{ artwork.id }}" position="{{ artwork.lat }}, {{ artwork.lng }}" visible-on-marker="{{ artwork.id }}">
      <div class="info-window">
        <a ng-href="#/artworks/{{ artwork.id }}">
          <div class="row">
            <div class="info-window-image col-md-4">
              <img ng-src="{{ artwork.image }}">
            </div>
            <div class="col-md-7 info-window-text">
              <p class="info-window-title"><strong>{{ artwork.title }}</strong></p>
              <p class="info-window-artist">{{ artwork.user.username }}</p>
              <p class="info-window-address"><em><i class="fa fa-map-marker"></i> {{ artwork.address }}</em></p>
            </div>
            <div class="info-window-stats col-md-7">
              <i class="fa fa-thumbs-up likes"> {{ artwork.likes.length }}</i>
              <i class="fa fa-comment comments"> {{ artwork.comments.length }}</i>
            </div>
          </div>
        </a>
      </div>
    </info-window>
  </div>

</map>