#form-wrapper, #modal-form-wrapper {
  width: 400px;
  margin: 0 auto 50px;
  
  h2 {
    margin: 70px 0 30px;
  }

  .field {
    margin-bottom: 20px;
    
    .artist {
      margin-right: 20px;
    }

    .artist, .user {
      display: inline-block;
    }

    .role-radio-button {
      margin-right: 5px;
    }

    #auth-checkbox {
      margin-right: 5px;
    }
  }

  .actions {
    .btn {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}