#form-wrapper, #modal-form-wrapper {
  width: 400px;
  margin: 0 auto 50px;
  
  h2 {
    margin: 70px 0 30px;
  }

  .field {
    
    .artist {
      margin-right: 20px;
    }

    .artist, .user {
      display: inline-block;
    }

    .role-radio-button {
      margin-right: 5px;
    }

    #auth-checkbox {
      margin-right: 5px;
    }
  }
}



/* New artwork form */

.field {
  margin-bottom: 20px;
}

.actions {
  .btn {
    width: 100%;
    margin-bottom: 20px;
  }
}

.new-artwork-form-address {
  float: right;
}