@import 'colors';

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

body {
  height: 100%;
}

#main-content, footer {
  p, i, li {
    font-size: 13px;
  }
}

#wrapper {
  width: 1040px;
  margin: 0 auto 70px;
}

.page-title {
  margin: 50px 0;
}