@import 'colors';

/* Header section */

.index-header {
  height: 600px;
  background-image: url('https://s3-eu-west-1.amazonaws.com/grafff/landing_page_v1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 65px;
}


/* What's new section */

.card-container {
  h3 {
    margin: 10px 0 0;
  }

  h3 + p {
    margin-top: 10px;
  }
  
  /* Header area with 'view all' link */
  .whats-new-header {
    margin-bottom: 30px;

    p {
      text-align: right;
    }
  }
  
  /* Styles for each artwork thumbnail/card */
  .large-thumbnail {
    padding: 0;
    border-radius: 5px;
    border: 1px solid $mid-grey;

    .large-thumbnail-image {
      width: 324.5px;
      height: 270px;
      margin-bottom: 16px;
      overflow: hidden;
      border-radius: 4.5px 4.5px 0px 0px;
      
      img {
        height: 270px;
      }
    }

    .large-thumbnail-info {
      position: relative;
      padding: 0 20px 15px;
      text-align: left;

      .large-thumbnail-address {
        width: 285px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
      }

      .large-thumbnail-description {
        height: 65px;
        margin-bottom: 10px;
        overflow: hidden;
        margin-bottom: 25px;
      }

      .card-footer {
        position: absolute;
        bottom: 12px;
        width: 285px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%);
        padding-top: 70px;
      }
    }
  }

  .large-thumbnail:hover {
    box-shadow: 0px 0px 10px 0px $mid-grey;
  }

  .large-thumbnail-link {
    color: $dark-grey;

    .large-thumbnail-title {
      color: $black;
      margin-bottom: 0;
    }
  }

  .likes {
    margin-right: 10px;
  }



  /* Featured artists */

  .featured-artists-header, {

    h3 {
      margin: 80px 0 50px;
    }

    p {
      margin-top: 80px;
      text-align: right;
    }
  }

  .search-results-header {

    h3 {
      margin: 50px 0;
    }

    p {
      margin-top: 80px;
      text-align: right;
    }
  }

  a {
    color: $black;
  }

  .artist-thumbnail, .user-thumbnail {
    padding: 14px 8px 5px;
    text-align: center;

    .artist-profile-pic, .user-profile-pic {

      img {
        width: 90%;
        border-radius: 50%;
        margin-bottom: 20px;
      }
    }

    .artist-name, .user-name, .user-full-name {
      margin-bottom: 0;
    }

    .user-full-name, .user-role {
      color: $dark-grey;
    }
  }

  .user-thumbnail {
    height: 220px;
  }


  .user-thumbnail {
    margin-bottom: 30px;
  }

  .artist-thumbnail:hover, .user-thumbnail:hover {
    box-shadow: 0px 0px 10px 0px $mid-grey;
    border-radius: 5px;
  }
}