@import 'colors';

/* Main map */

#main-map {
  margin-bottom: 70px;
}


/* What's new section */

.whats-new-container {
  h3 {
    margin: 10px 0 0;
  }

  h3 + p {
    margin-top: 10px;
  }
  
  /* Header area with 'view all' link */
  .whats-new-header {
    margin-bottom: 30px;

    p {
      text-align: right;
    }
  }
  
  /* Styles for each artwork thumbnail/card */
  .thumbnail {
    padding: 0;
    border-radius: 5px;

    img {
      border-radius: 5px 5px 0px 0px;
      margin-bottom: 18px;
    }

    .thumbnail-info {
      position: relative;
      padding: 0 20px 15px;
      text-align: left;

      .thumbnail-description {
        height: 65px;
        margin-bottom: 10px;
        overflow: hidden;
        margin-bottom: 25px;
      }

      .card-footer {
        position: absolute;
        bottom: 12px;
        width: 285px;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #fff 70%);
        padding-top: 70px;
      }
    }
  }

  .thumbnail:hover {
    box-shadow: 0px 0px 10px 0px $mid-grey;
  }

  .thumbnail-link {
    color: $dark-grey;

    .thumbnail-title {
      color: $black;
      margin-bottom: 0;
    }
  }

  .likes {
    margin-right: 10px;
  }
}