@import 'colors';

#main-map {
  height: 100%;

  .date-search {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 320px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid $mid-grey;

    p {
      margin: 12px 17px 10px;
    }

    .map-date-picker {
      margin: 0 auto;
      width: 320px;

      .input-group {
        margin-top: 0;
        margin-bottom: 16px;
      }
    }
  }
}

.dropdown-menu {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  margin-top: -108px;
  margin-left: -142px;
  width: 284px;

  li .pull-left p {
    margin: -5px 0 10px;
  }

  li .close {
    margin: -7px 5px 10px 0;
  }

  .ng-isolate-scope table {
    outline: 0;
    margin: 0 auto 3px;
  }
}

.fa-chevron-left, .fa-chevron-right {
  margin-top: 4px;
}

#artist-artwork-map {
  height: 600px;
}

#artwork-form-map {
  position: relative;
  height: 410px;
}

#artwork-map {
  height: 300px;
  margin-bottom: 15px;
}



/* Info windows */

.gm-style-iw {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  height: 108px;
  left: 1px !important;
  top: 1px !important;

  .info-window {
    width: 380px;
    height: 124px;

    .info-window-image {
      width: 170px;
      height: 124px;
      overflow: hidden;
      display: inline-block;

      img {
        height: 124px;
        border-radius: 2px 0 0 2px;
      }
    }

    a {
      color: $dark-grey;

      .info-window-title {
        margin: 10px 0 0 0;
        color: $black;
      }

      .info-window-artist {
        margin-bottom: 28px;
      }

      .info-window-address {
        margin-bottom: 0;
        width: 210px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
      }

      .info-window-stats {
        i {
          margin-right: 5px;
        }
      }
    }
  }
}