@import 'colors';

nav {
  position: relative;
  height: 60px;
  border-bottom: 1px solid $mid-grey;
  
  #logo img {
    width: 110px;
    margin: 4px 0 0 30px;
  }

  h3 {
    display: inline-block;
  }

  form {
    position: absolute;
    display: inline-block;
    top: 12px;
    left: 180px;

    input {
      height: 35px;
      width: 250px;
      font-weight: bold;
      padding-left: 7px;
      border: none;
    }

    input:focus {
      outline: 0;
    }

    i {
      color: $dark-grey;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
    margin-right: 35px;

    li {
      display: inline-block;
      margin: 19px 0px;
      font-weight: bold;

      a {
        padding: 22px 16px;
      }

      a:hover {
        background: $light-grey;
      }
    }

    .signed-in {
      margin: 14px 0px;

      .nav-profile-pic {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
  }
}