@import 'colors';

.profile-header {
  background: $light-grey;
  border-bottom: 1px solid $mid-grey;
  margin-bottom: 40px;
  padding: 40px 0;

  .profile-header-wrapper {
    width: 1040px;
    margin: 0 auto;

    h2 {
      display: inline-block;
      font-size: 35px;
      margin: 10px 7px 10px 0;
    }

    .profile-info {
      p {
        font-size: 50px;
      }
    }

    .role {
      display: inline-block;
      color: $dark-grey;

      strong {
        font-size: 15px;
      }
    }
  }

  .profile-picture {
    width: 100%;
    border-radius: 6px;
  }
}

.profile-content-tabs {
  margin-bottom: 40px;
}


/* Activity Feed */

.activity-feed-profile-pic {
  width: 40px;
  border-radius: 50%;
}