@import 'colors';

.profile-header {
  background: $light-grey;
  border-bottom: 1px solid $mid-grey;
  margin-bottom: 40px;
  padding: 40px 0;

  .profile-header-wrapper {
    width: 1040px;
    margin: 0 auto;

    h2 {
      display: inline-block;
      font-size: 35px;
      margin: 10px 7px 10px 0;
    }

    .role {
      color: $dark-grey;
      font-size: 15px;
    }

    .registration-button {
      display: block;
      margin-bottom: 15px;
    }

    .profile-info {

      .follow-unfollow-button {
        margin-bottom: 20px;
      }

      i {
        margin-right: 4px;
      }

      strong {
        margin-right: 5px;
      }

      #profile-about {
        font-size: 15px;
        line-height: 1.5;
        width: 600px;
      }
    }
  }

  .profile-picture {
    width: 100%;
    border-radius: 6px;
  }
}

.profile-content-tabs {
  margin-bottom: 40px;
}


/* Activity Feed */

.activity-feed-profile-pic {
  width: 30px;
  border-radius: 50%;
}