@import 'colors';

.profile-header {
  background: $light-grey;
  border-bottom: 1px solid $mid-grey;
  margin-bottom: 40px;
  padding: 40px 0;

  .profile-header-wrapper {
    width: 1040px;
    margin: 0 auto;

    h2 {
      display: inline-block;
      font-size: 35px;
      margin: 10px 7px 10px 0;
    }

    .role {
      color: $dark-grey;
      font-size: 15px;
    }

    .registration-button {
      display: block;
      margin-bottom: 15px;
      width: 150px;
    }

    .profile-info {

      .follow-unfollow-button {
        margin-bottom: 20px;

        button {
          width: 120px;
        }
      }

      i {
        margin-right: 4px;
      }

      strong {
        margin-right: 5px;
      }

      #profile-about {
        font-size: 15px;
        line-height: 1.5;
        width: 600px;
      }
    }
  }

  .profile-picture {
    width: 100%;
    border-radius: 6px;
  }
}

.profile-content-tabs {
  margin-bottom: 40px;
}


/* Activity Feed */

.activity-feed {
  width: 75%;
  margin: 0 auto;

  a {
    color: black; 
  }

  .activity-feed-item {
    padding: 25px;
    background: #fafafa;
    margin-bottom: 5px;
    border-radius: 3px;

    .activity-feed-artist {
      margin-bottom: 5px;
    }
    
    .activity-feed-artist-name {
      color: $dark-grey;
    }
    strong {
      color: black;
    }

    .feed-info-wrapper {
      
      .feed-info {
        display: inline-block;
        margin: 0 7px;

        i {
          margin-right: 3px;
          color: $dark-grey;
        }
      }
      .feed-info:first-child {
        border-right: 1px solid $dark-grey;
        padding-right: 18px;
        margin-left: 8px;
      }
    }
  }
  .activity-feed-item:hover {
    background: #f6f6f6;
  }
}
.activity-feed-profile-pic {
  width: 30px;
  margin-right: 5px;
  border-radius: 50%;
}
.activity-feed-artist-name {
  display: inline-block;
}