<h3>Add new artwork</h3>

<form name="newArtworkForm" ng-submit="upload(nearestAddress)" novalidate>

  <label>Title</label>
  <input type="text" ng-model="newArtwork.title">

  <label>Description</label>
  <textarea ng-model="newArtwork.description"></textarea>

  <label>Location</label>
  <map id="artwork-form-map"
    zoom="11"
    center="51.508800, -0.127477"
    scrollwheel="false">
    <marker id="artwork-location-marker" on-mouseup="getPosition(position)"
      position="51.508800, -0.127477"
      draggable="true"></marker>
  </map>
  <p>Nearest address: {{ nearestAddress }}</p>

  <label>Add an image</label>
  <input name="file" type="file" file />

  <button>Submit</button>

</form>