<div id="wrapper">
  <div class="card-container">
    <div class="all-artworks-header">
      <div class="row">
        <h3 class="col-md-4">All Artworks</h3>
        <p id="main-map-btn" class="col-md-4 col-md-offset-4"><a ng-href="#/main-map" class="btn btn-default">Main map</a></p>
      </div>
    </div>

    <div class="row">
      <div ng-repeat="artwork in allArtworks | orderBy: '-created_at'" class="col-md-3">
        <a ng-href="#/artworks/{{ artwork.id }}" class="thumbnail-link">
          <div class="thumbnail">
            <div class="thumbnail-image">
              <img ng-src="{{ artwork.image }}">
            </div>
            <div class="thumbnail-info">
              <p class="thumbnail-title"><strong>{{ artwork.title }}</strong></p>
              <p class="thumbnail-artist">{{ artwork.user.username }}</p>
              <p class="thumbnail-address"><em><i class="fa fa-map-marker"></i> {{ artwork.address }}</em></p>
              <p class="thumbnail-description">{{ artwork.description }}</p>
              <div class="card-footer">
                <i class="fa fa-thumbs-up likes"> {{ artwork.likes.length }}</i>
                <i class="fa fa-comment comments"> {{ artwork.comments.length }}</i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>