<div class="profile-header"><!-- Profile header -->
  <div class="profile-header-wrapper">
    <div class="row">
      <div class="col-md-3"><!-- Profile picture -->
        <img ng-src="{{ user.profile_pic.url }}" class="profile-picture">
      </div>

      <div class="profile-info col-md-9"><!-- Profile information -->
        <h2>{{ user.username }} <span class="role" ng-if="user.is_artist"><strong>Artist</strong></span></h2>
        <a ng-href="/users/edit">
          <button ng-if="currentUser.id === user.id"  class="btn btn-default btn-sm registration-button">Edit account</button>
        </a>
        <div class="follow-unfollow-button" ng-if="user.is_artist && !currentUser.is_artist">
          <form ng-submit="followArtist()" novalidate>
            <button ng-disabled="!currentUser" class="btn btn-success btn-sm" ng-hide="followingThisArtist"><strong>{{ user.passive_relationships.length }}</strong>Follow</button>
          </form>

          <form ng-submit="unfollowArtist()" novalidate>
            <button class="btn btn-success btn-sm" ng-show="followingThisArtist"><strong>{{ user.passive_relationships.length }}</strong>Unfollow</button>
          </form>
        </div>
        <p id="profile-about">{{ user.bio }}</p>

      </div>
    </div>
  </div>
</div>

<div id="wrapper">
  <div><!-- Profile body -->
    <div class="profile-content-tabs"><!-- Nav -->
      <ul class="nav nav-pills" ng-if="!user.is_artist" ng-init="$parent.tab = 1"><!-- Nav pills -->
        <li ng-class="{ active:isSelected(1) }">
          <a href ng-click="$parent.selectTab(1)">Activity Feed</a>
        </li>
        <li ng-class="{ active:isSelected(2) }">
          <a href ng-click="$parent.selectTab(2)"><strong>{{ userLikes.length }}</strong> Likes</a>
        </li>
        <li ng-class="{ active:isSelected(3) }">
          <a href ng-click="$parent.selectTab(3)"><strong>{{ userRelationships.length }}</strong> Following</a>
        </li>
      </ul>
      <ul class="nav nav-pills" ng-if="user.is_artist" ng-init="$parent.tab = 4"><!-- Nav pills -->
        <li ng-class="{ active:isSelected(4) }">
          <a href ng-click="$parent.selectTab(4)">Map</a>
        </li>
        <li ng-class="{ active:isSelected(5) }">
          <a href ng-click="$parent.selectTab(5)"><strong>{{ artistArtworks.length }}</strong> Artworks</a>
        </li>
        <li ng-if="currentUser.id === user.id" ng-class="{ active:isSelected(6) }">
          <a href ng-click="$parent.selectTab(6)">Add Artwork</a>
        </li>
      </ul>
    </div>
    
    <div><!-- Content -->
      <div ng-if="isSelected(1)"><!-- Activity Feed -->
        <div ng-repeat="artwork in followedArtistArtworks | orderBy: '-created_at' | limitTo: '20'">
          <img ng-src="{{ artwork.user.profile_pic.url }}" class="activity-feed-profile-pic">
          <p>{{ artwork.user.username }} has posted a new artwork!</p>
          <p>{{ artwork.created_at | amCalendar }}</p>
        </div>
      </div>
      <div ng-if="isSelected(2)"><!-- Likes -->
        <div class="card-container">
          <div class="row">
            <div ng-repeat="like in userLikes | orderBy: '-created_at'" class="col-md-3">
              <a ng-href="#/artworks/{{ like.artwork.id }}" class="thumbnail-link">
                <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img ng-src="{{ like.artwork.image }}">
                  </div>
                  <div class="thumbnail-info">
                    <p class="thumbnail-title"><strong>{{ like.artwork.title }}</strong></p>
                    <p class="thumbnail-artist">{{ like.artwork.user.username }}</p>
                    <p class="thumbnail-address"><em><i class="fa fa-map-marker"></i> {{ like.artwork.address }}</em></p>
                    <p class="thumbnail-description">{{ like.artwork.description }}</p>
                    <div class="card-footer">
                      <i class="fa fa-thumbs-up likes"> {{ like.artwork.likes.length }}</i>
                      <i class="fa fa-comment comments"> {{ like.artwork.comments.length }}</i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="isSelected(3)"><!-- Artists being followed by this user -->
        <div class="card-container">
          <div class="row">
            <div ng-repeat="artist in userRelationships | orderBy: '-created_at'" class="col-md-2"><!-- Artist card -->
              <a ng-href="#/users/{{ artist.followed.id }}">
                <div class="artist-thumbnail">
                  <div class="artist-profile-pic">
                    <img ng-src="{{ artist.followed.profile_pic.url }}">
                  </div>
                  <p class="artist-name"><strong>{{ artist.followed.username }}</strong></p>
                  <p>Artist</p>
                  <div class="artist-thumbnail-stats">
                    <p><strong>{{ artist.followed.passive_relationships.length }}</strong> Followers</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="isSelected(4)"><!-- Map -->
        <artist-artwork-map></artist-artwork-map>
      </div>

      <div ng-show="isSelected(5)"><!-- Artworks by this artist -->
        <div class="card-container">
          <div class="row">
            <div ng-repeat="artwork in artistArtworks | orderBy: '-created_at'" class="col-md-3">
              <a ng-href="#/artworks/{{ artwork.id }}" class="thumbnail-link">
                <div class="thumbnail">
                  <div class="thumbnail-image">
                    <img ng-src="{{ artwork.image }}">
                  </div>
                  <div class="thumbnail-info">
                    <p class="thumbnail-title"><strong>{{ artwork.title }}</strong></p>
                    <p class="thumbnail-artist">{{ artwork.user.username }}</p>
                    <p class="thumbnail-address"><em><i class="fa fa-map-marker"></i> {{ artwork.address }}</em></p>
                    <p class="thumbnail-description">{{ artwork.description }}</p>
                    <div class="card-footer">
                      <i class="fa fa-thumbs-up likes"> {{ artwork.likes.length }}</i>
                      <i class="fa fa-comment comments"> {{ artwork.comments.length }}</i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="isSelected(6)"><!-- Add artwork form -->
        <new-artwork-form></new-artwork-form>
      </div>
    </div>
  </div>
</div>