<div><!-- Profile header -->
  <div><!-- Profile picture -->
    <img src="http://lorempixel.com/200/200/abstract">
  </div>
  <div><!-- Profile information -->
    <h3>{{ user.username }}</h3>
    <p>{{ user.bio }}</p>
    <p ng-if="user.is_artist">{{ currentUser.followers.length }} Followers</p>
    <p ng-if="!user.is_artist">{{ currentUser.following.length }} Following</p>
    <button ng-if="user.is_artist">Follow/Unfollow</button><!-- Follow/unfollow button if user profile is artist profile -->
  </div>
</div>

<div><!-- Profile body -->
  <div><!-- Nav -->
    <ul class="nav nav-pills" ng-if="!user.is_artist"><!-- Nav pills -->
      <li><a href ng-click="$parent.tab = 1">Likes</a></li>
      <li><a href ng-click="$parent.tab = 2">Artists</a></li>
      <li><a href ng-click="$parent.tab = 3">Activity Feed</a></li>
    </ul>
    <ul class="nav nav-pills" ng-if="user.is_artist">
      <li><a href ng-click="$parent.tab = 4">Artworks</a></li>
      <li><a href ng-click="$parent.tab = 5">Map</a></li>
    </ul>
  </div>
  
  <div><!-- Content -->
    <div ng-show="tab === 1"><!-- Likes -->
      <p>Likes</p>
    </div>
    <div ng-show="tab === 2"><!-- Artists -->
      <p>Artists</p>
    </div>
    <div ng-show="tab === 3"><!-- Activity Feed -->
      <p>Activity feed</p>
    </div>
    <div ng-show="tab === 4"><!-- Artworks -->
      <p>Artworks</p>
    </div>
    <div ng-show="tab === 5"><!-- Map -->
      <p>Map</p>
    </div>
  </div>
</div>